@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 16px !important;
  font-weight: 500;
}

.navbar{
  background-color: black !important;
}
.nav-link{
  color: whitesmoke   !important;
}
.navbar-brand{
  color: whitesmoke;
}
.navbar-nav{
  margin-left: auto !important;
}
.smallimg{
  margin-top: 10px;
  height: 200px;
  width:80% !important;
  border-radius: 10px;
  
}
h1{
  font-size: 20px !important;
}
.btn{
  border-color: none !important;
  background-color: black !important;
  color: whitesmoke !important;
  margin-bottom: 15px  ;
  
  box-shadow: none !important;
}
.bs{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 margin-top: 20px !important;
 border-radius: 10px !important;
 padding: 20px !important;
}
.bigimg{
  height: 400px;
  border-radius: 10px;
}
.bookimg{
  height: 250px;
  border-radius: 10px;
}
.margin-right{
  margin-right: 10px;
}
input ,select ,.ant-picker{
  box-shadow: none !important;
  border: 1px solid black !important;
  width:100% !important;
  border-radius: 5px !important;
  height: 35px !important;
}

h2{
  font-size: 30px ;
  padding: 20px;
  font-weight: bold ;
  text-align: center;
}
.dropdown-toggle{

border: 0px solid black !important;
}

.ant-picker-input   input{
border: none !important;
}

.landing{
  background-color: black !important;
  height: 90vh; 
  
}

.landingbtn{
  background-color: whitesmoke !important;
  color: black !important;
  margin-top: 20px;
}